body {
    background-image: url(IMG/bg.jpg);
    background-size: cover;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    border: 1px solid #72582c;
    border-radius: 30px;
    align-items: center;
}
.form h4 {
    font-family: poppins;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.form .login {
    display: flex;
    flex-direction: column;
    width: 85%;
}
.login input, button {
    margin: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-size: 16px;
}
.login input {
    background-color: #ffffff2e;
    color: #fff;
    font-family: poppins;
    letter-spacing: 1px;
    text-indent: 35px;
    background-image: url(user.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px;
}
.login input:nth-child(2) {
    background-image: url(lock.png);
}
.login input::placeholder {
    font-size: 14px;
    color: #c0b4b4;
}
.login button {
    background-color: #d38a1c;
    color: #fff;
    font-size: 17px;
    font-family: calibri;
    text-transform: uppercase;
    cursor: pointer;
}
.suggests {
    width: 85%;
    display: flex;
    align-items: center;
    padding-top: 2px;
    justify-content: space-between;
    font-family: calibri;
    font-size: 16px;
    color: #fff;
}
.suggests .forgot {
    color: #d38a1c;
    cursor: pointer;
}

.hj{
    text-decoration: non;
}